{% extends 'base_reservas.html' %}
{% load static %}

{% block title %} Menu Reservas - My Building App {% endblock %}

{% block content_1 %}
        <div class="menu-box">
            
            <h1 class="main-title">Residente</h1>
{% endblock %}

{% block content_2 %}

            <p class="subtitle">Bienvenido al sistema de reservas para zonas comunes</p>
            <p class="instruction-text">Para continuar selecciona lo que quieres hacer</p>
            
            <div class="menu-buttons">
                
                <a href="{% url 'horarios_disponibles' %}" class="btn-menu">Horarios disponibles</a>
                <a href="{% url 'crear_reserva' %}" class="btn-menu">Reservar</a>
                <a href="{% url 'lista_de_reservas' %}" class="btn-menu">Consultar mis reservaciones</a>
                
            </div>
        </div>

{% endblock %}