{% extends 'base_reservas.html' %}
{% load static %}

{% block title %}Menu Reservas - My Building App{% endblock %}

{% block content_1 %}
<h1 class="reserva-main-title">{{ user.role.get_name }}</h1>
{% endblock %}

{% block content_2 %}
<div class="reserva-menu-box">
    <p class="reserva-subtitle">Bienvenido al sistema de reservas para zonas comunes</p>
    <p class="reserva-instruction-text">Para continuar selecciona lo que quieres hacer</p>
    
    <div class="reserva-menu-buttons">
        <a href="{% url 'horarios_disponibles' %}" class="reserva-btn-menu">Horarios disponibles</a>
        <a href="{% url 'crear_reserva' %}" class="reserva-btn-menu">Reservar</a>
        <a href="{% url 'lista_de_reservas' %}" class="reserva-btn-menu">Consultar mis reservaciones</a>
    </div>
</div>
{% endblock %}