<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>¡Conexión Exitosa! Usuarios en la Base de Datos</h1>

    <ul>
        {% for usuario in usuarios %}
            <li>
                <strong>Nombre:</strong> {{ usuario.nombre}}
                <strong>Rol:</strong> {{ usuario.rol}}
                <strong>Llave primaria:</strong> {{ usuario.pk}}
                <strong>Correo:</strong> {{ usuario.correo}}


            </li>
        {% empty %}
            <li>No hay usuarios registrados en la base de datos.</li>
        {% endfor %}           
            <li>
                <strong>user:</strong> {{ user_django.username}}
                <strong>rol:</strong> {{ user_django.role.get_name}}
            </li>
    </ul>
</body>
</html>