{% extends 'partials/header_app.html' %}
{% load static %}
{% block title %}Cambio de Contraseña{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/css_login_templates.css' %}">
{% endblock %}
{% block body_class %}modal-body{% endblock %}
{% block content %}
    <div id="modalOverlay">
        <div class="modal-container">
            <a href="{% url 'Inicial_page' %}" class="close-button">X</a>

            <h2 class="modal-title">Cambio de contraseña</h2>

            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% endif %}

            <form action="{% url 'Change_pass' %}" method="POST">
                {% csrf_token %}

                <label class="form-label">Ingrese nueva contraseña</label>
                <input 
                    type="password" 
                    name="nueva_password" 
                    id="nuevaPassword"
                    class="form-input" 
                    placeholder="Contraseña" 
                    required
                    minlength="6"
                >

                <label class="form-label">Confirme nueva contraseña</label>
                <input 
                    type="password" 
                    name="confirmar_password" 
                    id="confirmarPassword"
                    class="form-input" 
                    placeholder="Contraseña" 
                    required
                    minlength="6"
                >

                <button type="submit" class="submit-button">Restablecer</button>
            </form>
        </div>
    </div>
{% endblock %}