{% extends 'partials/header_app.html' %}
{% load static %}

{% block title %}Confirmar contraseña{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/css_login_templates.css' %}">
{% endblock %}

{% block body_class %}modal-body{% endblock %}

{% block content %}
<div id="modalOverlay">
    <div class="modal-container">
        <a href="{% url 'Account_info' %}" class="close-button">X</a>
        
        <h2 class="modal-title">Cambio de contraseña</h2>
        
        {% if error %}
             <div class="error-message">{{ error }}</div>
        {% endif %}
        
        <form method="POST" action="{% url 'Confirm_password' %}">
            {% csrf_token %}
            
            <div>
                <label for="old_password" class="form-label">Ingrese su contraseña anterior:</label>
                <input 
                    type="password" 
                    id="old_password" 
                    name="old_password" 
                    class="form-input" 
                    placeholder="Contraseña"
                >
            </div>
            
            <button type="submit" name = "siguiente" class="submit-button">Siguiente</button>
            <button type="submit" name="olvido" class="forgot-link">Olvido su contraseña?</button>
        </form>
    </div>
</div>
{% endblock %}