{% extends 'base_menu.html' %}
{% load static %}

{% block title %}Reservas - My Building App{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'reservas/estilos_reserva.css' %}">
{% endblock %}

{% block main_content %}
<div class="reserva-container">

    {% block content_1 %}
    {% endblock %}
    
    {% block mensaje %}
    {% if messages %}
    <ul class="reserva-messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}
    
    {% block content_2 %}
    {% endblock %}

</div>
{% endblock %}